<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Update Your Profile</h1>

    {% if result %}
        <div style="margin-bottom: 12px; padding: 7px; background-color: lightgray">
            {% if result.ok %}
                Profile updated successfully!
            {% else %}
                <div>Error: {{ result.error }}</div>
            {% endif %}
        </div>
    {% endif %}

    <form method="post">
        <input type="hidden" name="id" value="{{user.id}}"/>
        <label for="mobilePhone">Mobile Phone</label><br>
        <input type="text" name="mobilePhone" value="{{user.mobilePhone or ''}}"/><br>
        <label for="businessPhones">Business Phone</label><br>
        <input type="text" name="businessPhones" value="{{user.businessPhones[0] or ''}}"/><br><br>
        <button type="submit">Submit</button>
    </form>

    <div style="padding-top: 2rem">
        <a href="/">Back</a>
    </div>
</body>
</html>
